<h2>First, let's decide what data you want to be asked about...</h2>
<div class="headroom footroom">
  <label>Enter the "teams" within your organization, comma-separated. These shouldn't overlap. (i.e. engineering, sales, marketing)</label><textarea class="team-entry"></textarea>
</div>
<div class="headroom footroom">
  <label>Any other groups you'd like to include? (i.e. management)</label><textarea class="other-grouping-entry"></textarea>
</div>