<h2>First, let's decide what data you want to be asked about...</h2>
<div>
  <label>Enter the "teams" within your organization, comma-separated. These shouldn't overlap. (i.e. engineering, sales, marketing)</label><textarea class="team-entry"></textarea>
</div>
<div>
  <label>Any other groups you'd like to make a graph about? (i.e. management)</label><textarea class="other-grouping-entry"></textarea>
</div>
<div class="metrics-items-wrapper">
  <div class="metric-item">
    <p><label>Enter a metric you'd like to graph, (i.e. gender, ethnicity)</label><input class="metric-type"></input></p>
    <p><label>What are the divisions within that group, comma-separated? (i.e. for gender: male, female, genderqueer) </label><input class="metric-categories"></input></p>
  </div>
</div>
<a href="#" class="add-metric">+ Add a metric</a>