<label>Group</label>
<select>
  <option value="Everyone">Everyone</option>
  <option value="Engineering">Engineering</option>
  <option value="Marketing">Marketing</option>
</select>

<label>Metric</label>
<select>
  <option value="gender">gender</option>
  <option value="ethnicity">ethnicity</option>
</select>

<div><a class="build-graph-btn" href="#">Build Graphs!</a></div>
