<div class="metric-item">
  <p><label>Enter a metric you'd like to graph, (i.e. gender, ethnicity)</label><input></input></p>
  <p><label>What are the divisions within that group, comma-separated? (i.e. for gender: male, female, genderqueer) </label><input></input></p>
</div>